@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 171.43 53.85% 2.55%;

    --primary: 168 57.25% 25.69%;
    --primary-foreground: 165 21.05% 92.55%;

    --card: 180 15.79% 96.27%;
    --card-foreground: 171.43 53.85% 2.55%;

    --popover: 0 0% 100%;
    --popover-foreground: 171.43 53.85% 2.55%;

    --secondary: 169.09 19.3% 88.82%;
    --secondary-foreground: 0 0% 0%;

    --muted: 165 21.05% 92.55%;
    --muted-foreground: 0 0% 40%;

    --accent: 165 21.05% 92.55%;
    --accent-foreground: 169.09 57.89% 3.73%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 168 20% 85.29%;
    --input: 166.67 8.11% 78.24%;
    --ring: 168 57.25% 25.69%;

    --chart-1: 168 57.25% 25.69%;
    --chart-2: 167.81 34.04% 36.86%;
    --chart-3: 167.76 19.84% 51.57%;
    --chart-4: 168.29 19.62% 59.02%;
    --chart-5: 167.65 20% 66.67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 169.09 19.3% 88.82%;

    --primary: 168 57.25% 25.69%;
    --primary-foreground: 165 21.05% 92.55%;

    --card: 160 12% 4.9%;
    --card-foreground: 169.09 19.3% 88.82%;

    --popover: 0 0% 0%;
    --popover-foreground: 169.09 19.3% 88.82%;

    --secondary: 168.46 56.52% 9.02%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 168.46 56.52% 9.02%;
    --accent-foreground: 169.09 19.3% 88.82%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 168 55.56% 5.29%;
    --input: 165 8.89% 17.65%;
    --ring: 168 57.25% 25.69%;

    --chart-1: 168 57.25% 25.69%;
    --chart-2: 167.81 57.14% 21.96%;
    --chart-3: 167.76 57.65% 16.67%;
    --chart-4: 167.14 58.33% 14.12%;
    --chart-5: 169.09 55.93% 11.57%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
